<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ticket.validation.terminal">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.ticket.validation.terminal.SplashActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ticket.validation.terminal.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.ticket.validation.terminal.SysInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.ticket.validation.terminal.ExitSysActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.ticket.validation.terminal.QueryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.ticket.validation.terminal.ValidationTicketActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.ticket.validation.terminal.ReportActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.ticket.validation.terminal.ValidationResultActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.ticket.validation.terminal.QueryResultActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>
